In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/data/p_dsi/teams2023/team2/asurion_data/Asurion_data_iPhone_v3.csv', parse_dates=['weeks_monday','month_year'])

In [3]:
df

,phone_model,phone_generation,phone_size,phone_color,claim,weeks_monday,month,year,month_year
0,apple iphone 11,iphone 11,128gb,black,111,2021-06-28,6,2021,2021-06-01
1,apple iphone 11,iphone 11,128gb,black,319,2021-07-05,7,2021,2021-07-01
2,apple iphone 11,iphone 11,128gb,black,320,2021-07-12,7,2021,2021-07-01
3,apple iphone 11,iphone 11,128gb,black,305,2021-07-19,7,2021,2021-07-01
4,apple iphone 11,iphone 11,128gb,black,269,2021-07-26,7,2021,2021-07-01
...,...,...,...,...,...,...,...,...,...
17874,apple iphone xs max,iphone x,64gb,silver,18,2023-01-16,1,2023,2023-01-01
17875,apple iphone xs max,iphone x,64gb,silver,19,2023-01-23,1,2023,2023-01-01
17876,apple iphone xs max,iphone x,64gb,silver,14,2023-01-30,1,2023,2023-01-01
17877,apple iphone xs max,iphone x,64gb,silver,13,2023-02-06,2,2023,2023-02-01
17878,apple iphone xs max,iphone x,64gb,silver,1,2023-02-13,2,2023,2023-02-01

In [4]:
newer_iphone_df = df[(df['phone_generation'] == 'iphone x') | (df['phone_generation'] == 'iphone 11') | (df['phone_generation'] == 'iphone 12') | (df['phone_generation'] == 'iphone 13') | (df['phone_generation'] == 'iphone 14')]

In [5]:
release_dates = {
    'iphone x': '2017-11-03',
    'iphone 11': '2019-09-20',
    'iphone 12': '2020-10-23',
    'iphone 13': '2021-10-24',
    'iphone 14': '2022-09-16'
}
newer_iphone_df['days_since_release_date'] = newer_iphone_df.apply(lambda x: (x['weeks_monday'] - pd.to_datetime(release_dates[x['phone_generation']])).days, axis=1)

/tmp/ipykernel_96727/2504937430.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newer_iphone_df['days_since_release_date'] = newer_iphone_df.apply(lambda x: (x['weeks_monday'] - pd.to_datetime(release_dates[x['phone_generation']])).days, axis=1)

In [6]:
newer_iphone_df

,phone_model,phone_generation,phone_size,phone_color,claim,weeks_monday,month,year,month_year,days_since_release_date
0,apple iphone 11,iphone 11,128gb,black,111,2021-06-28,6,2021,2021-06-01,647
1,apple iphone 11,iphone 11,128gb,black,319,2021-07-05,7,2021,2021-07-01,654
2,apple iphone 11,iphone 11,128gb,black,320,2021-07-12,7,2021,2021-07-01,661
3,apple iphone 11,iphone 11,128gb,black,305,2021-07-19,7,2021,2021-07-01,668
4,apple iphone 11,iphone 11,128gb,black,269,2021-07-26,7,2021,2021-07-01,675
...,...,...,...,...,...,...,...,...,...,...
17874,apple iphone xs max,iphone x,64gb,silver,18,2023-01-16,1,2023,2023-01-01,1900
17875,apple iphone xs max,iphone x,64gb,silver,19,2023-01-23,1,2023,2023-01-01,1907
17876,apple iphone xs max,iphone x,64gb,silver,14,2023-01-30,1,2023,2023-01-01,1914
17877,apple iphone xs max,iphone x,64gb,silver,13,2023-02-06,2,2023,2023-02-01,1921
17878,apple iphone xs max,iphone x,64gb,silver,1,2023-02-13,2,2023,2023-02-01,1928

In [8]:
newer_iphone_model_df = newer_iphone_df[(newer_iphone_df['phone_model'] == 'apple iphone x') |(newer_iphone_df['phone_model'] == 'apple iphone 11') | (newer_iphone_df['phone_model'] == 'apple iphone 12') | (newer_iphone_df['phone_model'] == 'apple iphone 13') | (newer_iphone_df['phone_model'] == 'apple iphone 14')]
newer_iphone_model_df

,phone_model,phone_generation,phone_size,phone_color,claim,weeks_monday,month,year,month_year,days_since_release_date
0,apple iphone 11,iphone 11,128gb,black,111,2021-06-28,6,2021,2021-06-01,647
1,apple iphone 11,iphone 11,128gb,black,319,2021-07-05,7,2021,2021-07-01,654
2,apple iphone 11,iphone 11,128gb,black,320,2021-07-12,7,2021,2021-07-01,661
3,apple iphone 11,iphone 11,128gb,black,305,2021-07-19,7,2021,2021-07-01,668
4,apple iphone 11,iphone 11,128gb,black,269,2021-07-26,7,2021,2021-07-01,675
...,...,...,...,...,...,...,...,...,...,...
15437,apple iphone x,iphone x,64gb,silver,34,2023-01-16,1,2023,2023-01-01,1900
15438,apple iphone x,iphone x,64gb,silver,31,2023-01-23,1,2023,2023-01-01,1907
15439,apple iphone x,iphone x,64gb,silver,20,2023-01-30,1,2023,2023-01-01,1914
15440,apple iphone x,iphone x,64gb,silver,28,2023-02-06,2,2023,2023-02-01,1921
15441,apple iphone x,iphone x,64gb,silver,11,2023-02-13,2,2023,2023-02-01,1928

In [9]:
iphone_no_cat_df = newer_iphone_model_df[['phone_model', 'weeks_monday', 'month', 'year', 'month_year', 'days_since_release_date','claim']]
iphone_no_cat_df

,phone_model,weeks_monday,month,year,month_year,days_since_release_date,claim
0,apple iphone 11,2021-06-28,6,2021,2021-06-01,647,111
1,apple iphone 11,2021-07-05,7,2021,2021-07-01,654,319
2,apple iphone 11,2021-07-12,7,2021,2021-07-01,661,320
3,apple iphone 11,2021-07-19,7,2021,2021-07-01,668,305
4,apple iphone 11,2021-07-26,7,2021,2021-07-01,675,269
...,...,...,...,...,...,...,...
15437,apple iphone x,2023-01-16,1,2023,2023-01-01,1900,34
15438,apple iphone x,2023-01-23,1,2023,2023-01-01,1907,31
15439,apple iphone x,2023-01-30,1,2023,2023-01-01,1914,20
15440,apple iphone x,2023-02-06,2,2023,2023-02-01,1921,28
15441,apple iphone x,2023-02-13,2,2023,2023-02-01,1928,11

In [18]:
iphone_no_cat_df  = iphone_no_cat_df.groupby(['phone_model', 'weeks_monday', 'month', 'year', 'month_year', 'days_since_release_date'])['claim'].sum().reset_index()
iphone_no_cat_df  = iphone_no_cat_df.sort_values(by='weeks_monday')
iphone_no_cat_df[(iphone_no_cat_df['phone_model'] == 'apple iphone 14')]

,phone_model,weeks_monday,month,year,month_year,days_since_release_date,claim
233,apple iphone 14,2022-11-14,11,2022,2022-11-01,59,9
234,apple iphone 14,2022-11-21,11,2022,2022-11-01,66,30
235,apple iphone 14,2022-11-28,11,2022,2022-11-01,73,23
236,apple iphone 14,2022-12-05,12,2022,2022-12-01,80,43
237,apple iphone 14,2022-12-12,12,2022,2022-12-01,87,32
238,apple iphone 14,2022-12-19,12,2022,2022-12-01,94,36
239,apple iphone 14,2022-12-26,12,2022,2022-12-01,101,44
240,apple iphone 14,2023-01-02,1,2023,2023-01-01,108,45
241,apple iphone 14,2023-01-09,1,2023,2023-01-01,115,59
242,apple iphone 14,2023-01-16,1,2023,2023-01-01,122,60
243,apple iphone 14,2023-01-23,1,2023,2023-01-01,129,57
244,apple iphone 14,2023-01-30,1,2023,2023-01-01,136,54
245,apple iphone 14,2023-02-06,2,2023,2023-02-01,143,61
246,apple iphone 14,2023-02-13,2,2023,2023-02-01,150,10

In [19]:
iphone_no_cat_no_feb13_df = iphone_no_cat_df[iphone_no_cat_df['weeks_monday'] != '2023-02-13']
iphone_no_cat_no_feb13_df.tail(10)

,phone_model,weeks_monday,month,year,month_year,days_since_release_date,claim
230,apple iphone 13,2023-01-30,1,2023,2023-01-01,463,909
164,apple iphone 12,2023-01-30,1,2023,2023-01-01,829,1171
244,apple iphone 14,2023-01-30,1,2023,2023-01-01,136,54
330,apple iphone x,2023-01-30,1,2023,2023-01-01,1914,126
83,apple iphone 11,2023-01-30,1,2023,2023-01-01,1228,971
245,apple iphone 14,2023-02-06,2,2023,2023-02-01,143,61
165,apple iphone 12,2023-02-06,2,2023,2023-02-01,836,1456
231,apple iphone 13,2023-02-06,2,2023,2023-02-01,470,1191
84,apple iphone 11,2023-02-06,2,2023,2023-02-01,1235,1307
331,apple iphone x,2023-02-06,2,2023,2023-02-01,1921,138

In [22]:
iphone_no_cat_no_feb13_no_jun_28 = iphone_no_cat_no_feb13_df[iphone_no_cat_no_feb13_df['weeks_monday']!= '2021-06-28']

In [23]:
iphone_no_cat_no_feb13_no_jun_28.to_csv('/data/p_dsi/teams2023/team2/asurion_data/time_series_ML_features_final.csv', index=False, date_format = '%Y-%m-%d')